* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.dashboard-container {
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;
}


.dashboard-container h1 {
    font-size: 2.2rem;
    color: #111827;
    margin-bottom: 8px;
}

.dashboard-subtitle {
    color: #6b7280;
    font-size: 1rem;
    margin-bottom: 35px;
}


a{
    text-decoration: none;
}

.task-stats-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 35px;
}

.stats-card {
    padding: 22px;
    height: 140px;
    border-radius: 14px;
    border: 1px solid #e5e7eb;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    transition: 0.3s ease;
}

.stats-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

.stats-card p {
    font-size: 15px;
    color: #4b5563;
    font-weight: 600;
}

.stats-card h2 {
    font-size: 2.4rem;
    color: #111827;
}

#total-task {
    background: linear-gradient(135deg, #eef2ff, #f8faff);
}

#completed-task {
    background: linear-gradient(135deg, #ecfdf5, #f0fdf4);
}

#pending-task {
    background: linear-gradient(135deg, #fff7ed, #fffbeb);
}


.recent-tasks-container {
    background: #ffffff;
    border: 1px solid #e5e7eb;
    border-radius: 14px;
    padding: 25px;

    display: flex;
    flex-direction: column;
    gap: 18px;

    box-shadow: 0 5px 18px rgba(0, 0, 0, 0.05);
}

.recent-tasks-container h2 {
    font-size: 1.3rem;
    color: #111827;
}

.recent-tasks-container hr {
    border: none;
    border-top: 1px solid #e5e7eb;
}

.view-all-btn {
    width: fit-content;
    text-decoration: none;
    color: #4f46e5;
    font-weight: 600;
    transition: 0.3s ease;
}

.view-all-btn:hover {
    color: #4338ca;
    transform: translateX(5px);
}


@media (max-width: 900px) {

    .task-stats-container {
        grid-template-columns: 1fr;
    }

    .stats-card {
        height: 120px;
    }
}

