*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Poppins",sans-serif;
}

.register-container{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#f5f7fb;
    padding:20px;
}

.register-card{
    width:100%;
    max-width:450px;
    background:white;
    padding:40px;
    border-radius:18px;
    box-shadow:0 15px 35px rgba(0,0,0,.08);
}

.register-header{
    text-align:center;
    margin-bottom:30px;
}

.register-header h1{
    color:#4f46e5;
    font-size:2rem;
    margin-bottom:10px;
}

.register-header p{
    color:#6b7280;
    font-size:15px;
    line-height:1.5;
}

.register-form{
    display:flex;
    flex-direction:column;
    gap:20px;
}

.input-group{
    display:flex;
    flex-direction:column;
}

.input-group label{
    margin-bottom:8px;
    font-size:14px;
    font-weight:500;
    color:#374151;
}

.input-group input{
    padding:12px 15px;
    border:1px solid #d1d5db;
    border-radius:10px;
    outline:none;
    font-size:15px;
    transition:.3s;
}

.input-group input:focus{
    border-color:#4f46e5;
    box-shadow:0 0 0 3px rgba(79,70,229,.15);
}

.register-btn{
    margin-top:10px;
    padding:13px;
    border:none;
    border-radius:10px;
    background:#4f46e5;
    color:white;
    font-size:16px;
    font-weight:600;
    cursor:pointer;
    transition:.3s;
}

.register-btn:hover{
    background:#4338ca;
}

.login-text{
    margin-top:25px;
    text-align:center;
    color:#6b7280;
    font-size:15px;
}

.login-text span{
    color:#4f46e5;
    font-weight:600;
    cursor:pointer;
}

.login-text span:hover{
    text-decoration:underline;
}

.error{
  text-align: center;
  color: red;
  margin-bottom: 10px;
}

@media(max-width:480px){

.register-card{
    padding:30px 22px;
}

.register-header h1{
    font-size:1.7rem;
}

.register-header p{
    font-size:14px;
}

.register-btn{
    font-size:15px;
}

}