*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.add-task-container{
    max-width:850px;
    margin:40px auto;
    padding:0 20px;
}

/* Heading */

.page-heading{
    margin-bottom:30px;
}

.page-heading h1{
    font-size:2rem;
    color:#1f2937;
    margin-bottom:8px;
}

.page-heading p{
    color:#6b7280;
    font-size:15px;
}

.task-form{
    display:flex;
    flex-direction:column;
    gap:22px;
}

.form-group{
    display:flex;
    flex-direction:column;
    gap:8px;
}

.form-group label{
    font-size:14px;
    font-weight:600;
    color:#374151;
}

.form-group input,
.form-group select{
    width:100%;
    padding:14px 16px;
    border:1px solid #d1d5db;
    border-radius:10px;
    font-size:15px;
    outline:none;
    transition:.3s;
    background:#fff;
}



.form-group input:focus,
.form-group select:focus{
    border-color:#4f46e5;
    box-shadow:0 0 0 3px rgba(79,70,229,.12);
}



.form-row{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:20px;
}

#error-msg{
    text-align: center;
    margin-bottom: 20px;
    color: red;
}



/* Buttons */

.button-group{
    display:flex;
    justify-content:flex-end;
    gap:12px;
    margin-top:10px;
}

.cancel-btn{
    padding:12px 22px;
    border:none;
    background:#e5e7eb;
    color:#374151;
    border-radius:10px;
    cursor:pointer;
    font-weight:600;
    transition:.3s;
}

.cancel-btn:hover{
    background:#d1d5db;
}

.add-btn{
    padding:12px 24px;
    border:none;
    background:#4f46e5;
    color:#fff;
    border-radius:10px;
    cursor:pointer;
    font-weight:600;
    transition:.3s;
}

.add-btn:hover{
    background:#4338ca;
}

@media(max-width:480px){

    .add-task-container{
        padding:0 15px;
        margin:25px auto;
    }

    .page-heading h1{
        font-size:1.7rem;
    }

    .button-group{
        flex-direction:column-reverse;
    }

    .button-group button{
        width:100%;
    }
}